html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  background: rgb(247,247,247);
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(59,59,61);
}

/* ==========================================================
! Print Adjustments
========================================================== */

@media screen {
  .print-show {
    display:none !important;
  }
}
@media print {
  * {
    font-family:Arial !important;
  }
  .print-hide {
    display:none !important;
  }
}

/* ==========================================================
! Spacing, Margin, and Padding
========================================================== */
  
  .spacer-2,
  .spacer-5,
  .spacer-10,
  .spacer-15,
  .spacer-20,
  .spacer-25,
  .spacer-30,
  .spacer-35,
  .spacer-40,
  .spacer-45,
  .spacer-50,
  .spacer-60{
    width : 100%;
    clear : both;
  }
  .spacer-2{
    height : 2px;
  }
  .spacer-5{
    height : 5px;
  }
  .spacer-10{
    height : 10px;
  }
  .spacer-15{
    height : 15px;
  }
  .spacer-20{
    height : 20px;
  }
  .spacer-25{
    height : 25px;
  }
  .spacer-30{
    height : 30px;
  }
  .spacer-35{
    height : 35px;
  }
  .spacer-40{
    height : 40px;
  }
  .spacer-45{
    height : 45px;
  }
  .spacer-50{
    height : 50px;
  }
  .spacer-60{
    height : 60px;
  }
  .space-30 {
    width:100%;
    height: 30px;
  }

.padding10,
.padding20,
.padding30,
.padding010,
.padding020,
.padding030,
.padding100,
.padding200,
.padding300 {
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding010 {
  padding: 0 10px;
}
.padding020 {
  padding: 0 20px;
}
.padding030 {
  padding: 0 30px;
}
.padding1030 {
  padding: 10px 30px;
}
.padding100 {
  padding: 10px 0;
}
.padding200 {
  padding: 20px 0;
}
.padding300 {
  padding: 30px 0;
}
.margin0 {
  margin: 0;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.margin30 {
  margin: 30px;
}
.margin100 {
  margin: 10px 0;
}
.margin200 {
  margin: 20px 0;
}
.margin300 {
  margin: 30px 0;
}


iframe {
  border: none;
  margin: 0;
  padding: 0;
}

select {
  width: 100%;
}

.buttons button, 
.buttons input, 
.buttons select {
  width: 100%;
}

.buttons input[type='radio'] {
  width: auto;
}

textarea,
.buttons textarea {
  width: 100%;
}

blockquote {
  border-left: 5px solid rgb(164,42,31);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: rgb(164,42,31);
}

.navbar-inverse .navbar-toggle {
border-color: rgb(164,42,31);
}

.navbar-toggle {
background-color: rgb(164,42,31);
background-image: none;
border: 1px solid rgb(164,42,31);
border-radius: 4px;
}

/* ==========================================================
! Typography
========================================================== */

.italic {
  font-style: italic;
  font-weight: normal;
}

.page-title, 
.post-title,
.section-title,
.info-head,
.widget-title,
.button-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px;
  color: rgb(164,42,31);
}

.button-title {
  text-transform: none;
}

/* ==========================================================
! Custom Header & Navigation
========================================================== */

.header {
  background: rgb(255,255,255);
}

.brand {
  min-height: 108px;
  background: top left 100% no-repeat url('../img/skyline.png');
}

img.logo {
  color:rgb(164,42,31);
  margin: 10px 0;
}

.header-action {
  margin:10px 0 0 10px;
}
.header-search {
  margin: 20px auto;
}
.header-search form {
  margin: 10px auto;
  width: auto;
}
.search-query {
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #777;
}
.navbar .nav>li>.dropdown-menu:after, 
.navbar .nav>li>.dropdown-menu:before,
.navbar .nav>li>.dropdown-menu {
    content: none !important;
}
.navbar .nav>li>.dropdown-menu {
  margin:0;
  border:none;
  padding:0;
}
.navbar .nav>li>.dropdown-menu li {
  margin-top:5px;
  margin-bottom:5px;
}
.header-nav .nav li {
  font-size:12px;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgb(164,42,31);
  color:#000;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color:rgb(59,59,61);
}
.navbar-inverse .navbar-nav > li > a {
  color: rgb(59,59,61);
}
.header-search-nav .nav li {
  font-size:12px;
  display: inline-block;
}
.header-search-nav.navbar {
  margin: 20px 0 0;
}
.header-search-nav.navbar .nav > .active > a, 
.header-search-nav.navbar .nav > .active > a:hover, 
.header-search-nav.navbar .nav > .active > a:focus {
  background-color:rgb(164,42,31);
  color:#000;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.navbar {
  min-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar-inverse {
  background-image: none;
  background-color: transparent;
  border: none;
}
.main-nav.navbar .nav .active,
.main-nav.navbar .nav .active a,
.main-nav.navbar .nav > li > a:hover,
.main-nav.navbar .nav > .active > a:hover {
  background-color:rgb(164,42,31);
  color:#fff;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.navbar-inverse .navbar-nav > .active > a {
  background: rgb(164,42,31);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: rgb(255,255,255);
background-color: rgb(164,42,31);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 0px 0 rgba(0, 0, 0, .25);
}
.navbar-nav > li > .dropdown-menu {
border-top-right-radius: 4px;
background: rgb(164,42,31);
}
.dropdown-menu > li > a {
  color: rgb(255,255,255);
}
/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: ;
}*/
.main-nav.navbar .nav > .active > a > .caret,
.main-nav.navbar .nav > li > a:hover > .caret,
.main-nav.navbar .nav > .active > a:hover > .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.navbar .divider-vertical{height:40px;margin:0 9px;border-right:1px solid rgb(164,42,31);border-left:1px solid rgb(164,42,31)}
.header-account-nav>li{
  display: inline-block;
  margin: 20px;
}
.header-account-nav>li span {
  display: block;
}
.categories.dropdown-menu {
  width: 600px;
}
.categories .section-title {
  font-size: 18px;
}
.dropdown-menulinks {
  padding: 0;
}
.category-link {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.category-link img {
  width: 100%;
  height: auto;
}

/* ==========================================================
! CONTENT SECTION
========================================================== */
.main-content {
  background:transparent;
  margin-top: 15px;
}

#map-content {
  background: rgb(255,255,255);
  padding: 2px;
  border: 2px solid rgb(234,234,234);
}

#map {
        width: 100%;
        height: 500px;
        padding: 15px;
      }

#inline-actions {
  display: none;
}
.search-form {
  min-height: 510px;
}

.search-form,
.login-form,
.forgot-form,
.testimonial,
.neighborhood {
  background: rgb(255,255,255);
  border: 2px solid rgb(234,234,234);
  padding: 30px 0;
}

.agent-profile {
  background: rgb(236,236,236);
  padding: 30px 0;
}

#guestAlertWindow {
  display: none;
}

.testimonial {
  margin-bottom: 30px;
}

.search-form .btn {
  width: 100%;
  /*margin-bottom: 3px;
  background-image: webkit-linear-gradient(top, #666 0%, #000 100%);
  background-image: linear-gradient(to bottom, #666 0%, #000 100%);
  border-color: #333;*/
}
/*.search-form .btn:hover {
  background-color: #000;
}*/

.buttons {
  margin: 0 -15px 0 -15px;
}

.button-container {
  background: rgb(255,255,255);
  border: 2px solid rgb(234,234,234);
  padding: 2px;
}

.submit-container input[type="submit"],
.submit-container input[type="submit"].btn,
.submit-container input[type="submit"].btn-danger,
.submit-container .btn,
.submit-container .btn-danger {
  background-image: none;
  background: rgb(164,42,31);
  border: 2px solid rgb(234,234,234);
  border-radius: 0;
  box-shadow: none;
}

#button1,
#button2,
#button3,
#button4,
#button5 {
  background: rgb(164,42,31);
  border: none;
  color: rgb(255,255,255);
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
}

.button1-text,
.button2-text,
.button3-text,
.button4-text,
.button5-text {
  z-index: 2;
}

.button1-form,
.button2-form,
.button3-form,
.button4-form,
.button5-form {
  display: none;
  background: #d3d3d3;
  padding: 15px 0;
}

.buttonerror {
  display: none;
}

.login-register input[type='submit'] {
  width: auto;
}

.forgot-links {
  font-size: 10px;
}

.infoBox {
  width: 250px;
  max-height: 300px;
  margin: -200px 130px 0 -40px;
}

.infowindow {
  padding: 15px;
  margin: 0 0 0 -50px;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  width: 300px;
}

.infowindow,
.infowindow .section-title,
.infowindow .info-head {
  color: rgb(255,255,255);
  background: rgb(164,42,31);
}

.infoBox img {
  margin: 0px 0 0 -50px !important;
}

.about-photo img {
  width: 100%;
  height: auto;
}

.req {
  color: rgb(164,42,31);
  font-weight: bold;
  vertical-align: super;
  font-size: 0.5em;
}

.about,
.bio,
.testimonial-text {
  /*-webkit-column-count:3;  Chrome, Safari, Opera */
  /*-moz-column-count:3;  Firefox */
  /*column-count:3;*/
  font-family: 'Georgia', serif;
}

.about p,
.testimonial-text p {
  margin: 10px 15px;
  font-style: italic;
}

.about p:first-child:first-letter,
.testimonial-text p:first-child:first-letter {
  float: left;
  color: rgb(164,42,31);
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

.author {
  font-size: 0.75em;
  font-style: italic;
}

.author b {
  font-style: normal;
  text-transform: uppercase;
}

.form-control {
  text-align: right;
}

.builders {
  border-top: 1px solid rgb(126,127,131);
  padding: 20px 0;
}

.builders:last-child {
  border-bottom: 1px solid rgb(126,127,131);
}

.neighborhood iframe {
  width: 100%;
  height: 300px;
}


/* ==========================================================
! Custom Footer
========================================================== */

.footer {
  font-size: 9px;
  margin: 0 -15px 10px -15px;
  color: rgb(59,59,61);
}
.nav-footer ul {
  list-style: none;
}
.nav-footer>li {
  display: inline-block;
}
.nav-footer li {
  border-right: 1px solid #333;
  padding: 0 8px 0 5px;
}
.nav-footer a {
  color: rgb(164,42,31);
}
.nav-footer a:hover {
  color: rgb(164,42,31);
  text-decoration: underline;
  font-weight: bold;
}
.nav-footer li:last-child {
  border-right: none;
}

.footer .member,
.footer .member2 {
  width: auto;
  float: left;
  margin-right: 5px;
}

.footer .member2 {
  margin-right: 0px;
}

.footer .member img {
  width: 70px;
  height: auto;
}

.footer .member2 img {
  width: 180px;
  height: auto;
}